#chatbot_id{
    border: none;
    position: fixed; 
    bottom: 10px; 
    right: 20px; 
    z-index: 2147483647; 
    box-sizing: content-box; 
    overflow: hidden; 
    max-width: 410px; 
    max-height: 520px;
}
body{
    background: #280137;
}