.main-chatbot{
    border: none;
    position: fixed; 
    bottom: 10px; 
    right: 20px; 
    z-index: 2147483647; 
    box-sizing: content-box; 
    overflow: hidden; 
    min-width: 410px; 
    min-height: 520px;
}
/* body{
    background: #280137;
} */